---
import { getEvents } from 'src/db/queries/getEvents';
import EventCard from 'src/components/homepage/EventCard.astro';
import Link from 'src/assets/icons/link.svg';
import getDb from 'src/db';

const events = await getEvents(1, getDb(Astro.locals));
---

{
  events.map((event) => (
    <a href={`/events/${event.id}`}>
      <EventCard
        date={event.createdAt || ''}
        special={!!event.special}
        strokes={!!event.strokes}
        teamEvent={!!event.teamEvent}
      >
        <div class="uppercase text-sm flex justify-between">
          {event.course.name}
          <Link class="size-5 absolute bottom-2 right-2" />
        </div>
      </EventCard>
    </a>
  ))
}

<script>
  export default {
    hydrate: 'load' // Ensures Alpine.js is loaded when hydrated
  };
</script>
