---
import { cx, cva } from 'src/components/cva.config';
import { type VariantProps } from 'cva';
import type { HTMLAttributes } from 'astro/types';
import Pill from '../ui/Pill.astro';

const eventCardVariants = cva({
  base: 'block p-3 rounded border border-stone-400 bg-white/50 shadow-2xl shadow backdrop-blur-sm cursor-pointer duration-100 active:scale-97 focus:outline-none transition-colors active:bg-gray-50',
  variants: {
    intent: {
      default: 'w-46 h-24'
    },
    live: {
      false: null,
      true: ['shadow shadow-green-500 bg-green-100']
    }
  },
  defaultVariants: {
    intent: 'default'
  }
});

interface Props extends HTMLAttributes<'div'>, VariantProps<typeof eventCardVariants> {
  date: string;
  special: boolean;
  strokes: boolean;
  teamEvent: boolean;
  live?: boolean;
}

const { class: className, intent, live = false, ...props } = Astro.props;
---

<div class={cx(eventCardVariants({ intent, live }), className)} {...props}>
  <div class="flex justify-between">
    <h4 class="m-0 font-bold text-black">
      {
        new Date(props.date).toLocaleDateString('sv-SE', {
          day: 'numeric',
          month: 'short'
        })
      }
    </h4>

    {live && <Pill intent="live">LIVE</Pill>}
  </div>

  <div class="text-gray-800 font-light">
    <slot />
  </div>
</div>
