---
import { cx, cva } from 'src/components/cva.config';
import { type VariantProps } from 'cva';
import type { HTMLAttributes } from 'astro/types';
import EventPillRow from 'src/components/shared/EventPillRow.astro';

const eventCardVariants = cva({
  base: 'block p-4 rounded-lg bg-gradient-to-b from-blue-50 to-blue-100 border-2 border-blue-100 shadow-md box-border w-full my-2',
  variants: {
    intent: {
      default: 'w-70'
    }
  },
  defaultVariants: {
    intent: 'default'
  }
});

interface Props extends HTMLAttributes<'div'>, VariantProps<typeof eventCardVariants> {
  date: string;
  special: boolean;
  strokes: boolean;
  teamEvent: boolean;
  live?: boolean;
}

const { class: className, intent, live = false, ...props } = Astro.props;
---

<div class={cx(eventCardVariants({ intent }), className)} {...props}>
  <div class="flex justify-between">
    <h4 class="m-0 text-lg font-bold">
      {
        new Date(props.date).toLocaleDateString('sv-SE', {
          day: 'numeric',
          month: 'short'
        })
      }
    </h4>

    <EventPillRow
      special={props.special}
      strokes={props.strokes}
      teamEvent={props.teamEvent}
      live={live}
    />
  </div>

  <div class="mt-auto text-gray-500 font-light text-xs mb-4">
    <slot />
  </div>
</div>
