---
import Button from 'src/components/ui/button.astro';

import getDb from 'src/db';
const db = getDb(Astro.locals);

const season = await db.query.seasons.findFirst({
  where: (seasons, { eq }) => eq(seasons.name, `${new Date().getFullYear()}`)
});

const isInFinalState = season?.state === 'FINAL';
---

{
  isInFinalState && (
    <div class="p-4">
      <a href="/finalleaderboard" data-astro-prefetch="true">
        <Button size="block" intent="success">
          LEDARTAVLA FINAL
        </Button>
      </a>
    </div>
  )
}
