---
import db from 'src/db';
import Button from '../ui/button.astro';
const userId = await Astro.session?.get('userId');
const player = userId
  ? await db.query.profiles.findFirst({
      where: (p, { eq }) => eq(p.id, Number(userId))
    })
  : undefined;
---

{
  !userId && (
    <Button size="sm">
      <a href="/login">LOGGA IN</a>
    </Button>
  )
}

{
  userId && (
    <div class="inline-flex items-center justify-center gap-1">
      <Button size="sm" intent="link" muted>
        <a href="/logout">LOGGA UT</a>
      </Button>
      <Button size="icon" intent="link" class="size-8">
        {player?.avatarUrl === '1' ? (
          <img src={`/images/avatars/${player.id}.png`} />
        ) : (
          <img src="/images/avatars/default.png" />
        )}
      </Button>
    </div>
  )
}
