---
import AppScreen from 'src/layouts/AppScreen.astro';
import getDb from 'src/db';

import NewScoringSession from 'src/components/newscoringsession/NewScoringSession.tsx';
import { createScoringSession } from 'src/db/mutations/createScoringSession';
import { shortName } from 'src/lib/formatters';

const db = getDb(Astro.locals);

if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const userId = Astro.cookies.get('userId')?.value || undefined;

    // console.log(formData);

    if (!userId) {
      throw new Error('Logga in för att skapa scoringSession');
    }

    const createdId = await createScoringSession(Number(userId), formData, db);

    return Astro.redirect(`/scoring/${createdId}`);
  } catch (e) {
    console.warn(e);
  }
}

const dbCourses = await db.query.courses.findMany({
  orderBy: (courses) => courses.eventsCount
});

const allPlayers = await db.query.profiles.findMany({
  where: (players, { eq }) => eq(players.active, true),
  orderBy: (players, { asc }) => [asc(players.fullName)]
});

const joinId = Astro.url.searchParams.get('joinId') || '';
let joinSession = null;
if (joinId) {
  joinSession = await db.query.scoringSessions.findFirst({
    where: (sessions, { eq }) => eq(sessions.id, Number(joinId))
  });
}
---

<AppScreen title="Ny Runda" back="/">
  <div class="max-w-screen-lg p-4 pb-40 mx-auto">
    <NewScoringSession
      client:load
      joinSession={joinSession}
      courses={dbCourses}
      players={allPlayers.map((player) => ({
        id: player.id,
        name: shortName(player.fullName),
        strokes: 10
      }))}
    />
  </div>
</AppScreen>
