---
import AppScreen from 'src/layouts/AppScreen.astro';
import getDb from 'src/db';

import NewScoringSession from 'src/components/newscoringsession/NewScoringSession.tsx';
import { shortName } from 'src/lib/formatters';

const db = getDb(Astro.locals);

const season = await db.query.seasons.findFirst({
  where: (seasons, { eq }) => eq(seasons.name, `${new Date().getFullYear()}`)
});
const seasonInFinalState = season?.state === 'FINAL';

const dbCourses = await db.query.courses.findMany({
  orderBy: (courses) => courses.eventsCount
});

const allPlayers = await db.query.profiles.findMany({
  where: (players, { eq }) => eq(players.active, true),
  orderBy: (players, { asc }) => [asc(players.fullName)]
});

const joinId = Astro.url.searchParams.get('joinId') || '';
let joinSession = null;
if (joinId) {
  joinSession = await db.query.scoringSessions.findFirst({
    where: (sessions, { eq }) => eq(sessions.id, Number(joinId))
  });
}

const coursesToShow = seasonInFinalState
  ? dbCourses.filter((course) => course.finalCourse)
  : dbCourses;
---

<AppScreen title={seasonInFinalState ? 'NY FINALRUNDA' : 'NY RUNDA'} back="/">
  <div class="max-w-screen-lg p-4 pb-40 mx-auto">
    <NewScoringSession
      client:load
      joinSession={joinSession}
      courses={coursesToShow}
      seasonState={season?.state || 'REGULAR'}
      players={allPlayers.map((player) => ({
        id: player.id,
        name: shortName(player.fullName),
        strokes: 10
      }))}
    />
  </div>
</AppScreen>
