---
import db from 'src/db';
import { courses } from 'src/db/schema';
import Radio from '../ui/radio.astro';

const dbCourses = await db(Astro.locals).query.courses.findMany({
  orderBy: courses.eventsCount
});
---

<h2>Bana</h2>
<div class="flex gap-4 flex-wrap">
  {
    dbCourses.map((course) => (
      <Radio xModel="course" name="course" label={course.name} value={course.id} />
    ))
  }
</div>
