---
import Checkbox from '../ui/checkbox.astro';
---

<h2>Inställningar</h2>

<div class="flex gap-2 flex-wrap">
  <Checkbox xModel="specialWeek" name="specialweek" label="Specialvecka" />

  <div x-show="specialWeek" x-transition x-cloak>
    <Checkbox xModel="teamEvent" name="teamevent" label="Lagtävling" />
  </div>
  <div x-show="specialWeek" x-transition x-cloak>
    <Checkbox xModel="strokes" name="strokes" label="Slaggolf" />
  </div>
</div>
