---
import Checkbox from '../ui/checkbox.astro';
import Radio from '../ui/radio.astro';
---

<div class="flex gap-2 flex-wrap">
  <Checkbox xModel="specialWeek" name="specialweek" label="Specialvecka" />

  <div x-show="specialWeek" x-transition x-cloak>
    <h3>Spelsätt</h3>
    <Radio xModel="eventType" name="event_type" label="Individuellt" value="individual" />
    <Radio xModel="eventType" name="event_type" label="Lagtävling" value="team" />
    <Radio
      xModel="eventType"
      name="event_type"
      value="team_w_individual"
      label="Lag med individuell (Bästbollsvarianter)"
    />
  </div>
</div>

<div class="flex gap-2 flex-wrap">
  <div x-show="specialWeek" x-transition x-cloak>
    <h3 class="mt-4" x-show="eventType === 'team_w_individual'">Räknesätt - Bästboll</h3>
    <h3 class="mt-4" x-show="eventType !== 'team_w_individual'">Räknesätt</h3>

    <Radio xModel="scoringType" name="scoring_type" label="Slaggolf" value="strokes" />
    <Radio xModel="scoringType" name="scoring_type" label="Poängbogey" value="stableford" />

    <Radio
      xModel="scoringType"
      name="scoring_type"
      label="Modifierad Poängbogey"
      description="Eagle 5p, Birdie 2p, Par 0p, Bogey -1p, DB+ -3p"
      value="modified"
    />

    <div x-show="eventType === 'team_w_individual'">
      <Radio
        xModel="scoringType"
        name="scoring_type"
        label="Irish Rumble"
        description="Hål 1-9 = Vanlig bästboll, 7-18 = bästa 2 spelarnas poäng slås ihop"
        value="irish"
      />

      <Radio
        xModel="scoringType"
        name="scoring_type"
        label="Bolles Rumble"
        description="Modifierad Poängbogey (som ovan) + spelarens poäng slås ihop"
        value="bolle"
      />

      <Radio
        xModel="scoringType"
        name="scoring_type"
        label="Niklas Bästboll"
        description="Hål 1-8 = Vanlig bästboll, 9-11 = bådas poäng räknas, 12-14 = den med sämst resultat räknas, 15-17 = dubblar bådas poäng, 18 = triplas bådas poäng"
        value="snigel"
      />
    </div>
  </div>
</div>
