---
import Button from '../ui/button.astro';
---

<div x-show="specialWeek && isTeamEvent()" x-cloak>
  <div class="flex items-center justify-between">
    <h2>Lag</h2>
    <Button intent="link" @click="addTeam()">+ Nytt lag</Button>
  </div>
  <template x-for="(team, index) in teams" :key="index">
    <div
      class="flex flex-col w-full p-4 pb-4 mb-4 bg-white border border-b border-gray-200rounded-xs"
    >
      <div
        class="flex flex-row items-center justify-between pb-2 mb-2 border-b border-dashed team-header"
      >
        <div class="flex items-center gap-2">
          <h3>
            Lag <span x-text="index + 1"></span>
          </h3>
          <Button intent="inline" @click="removeTeam(index)" x-show="index>0">-</Button>
        </div>
        <template x-if="teamsNeedStrokes()">
          <div>
            <input
              :name="`teams[${index}][strokes]`"
              x-model="teams[index].strokes"
              class="sr-only"
            />
            <div class="flex items-center justify-between gap-0">
              <Button intent="inline" @click="teams[index].strokes--"> &minus; </Button>

              <h2 x-text="teams[index].strokes" class="w-10 text-center"></h2>

              <Button intent="inline" @click="teams[index].strokes++"> &plus; </Button>
            </div>
          </div>
        </template>
      </div>
      <template x-if="isTeamEvent()">
        <div class="flex flex-wrap gap-2">
          <template x-for="(player, playerIndex) in players" :key="playerIndex">
            <div x-show="!playerIsInAnotherTeam(player.id, index)">
              <span
                class="inline-flex items-center justify-between w-full px-4 py-1 bg-white border-2 border-gray-200 rounded-xs active:scale-9"
                :class={`[
                  playerIsInTeam(index, player.id) ? 'bg-cyan-50 border-cyan-600 text-cyan-600' : ''
                ]`}
                @click.prevent="toggleTeamPlayer(index, player.id)"
                x-text="player.name"
              >
              </span>

              <template x-if={`playerNeedStrokes() && playerIsInTeam(index, player.id)`}>
                <input
                  :name="`teams[${index}][players][player.id][strokes]`"
                  x-bind:value="getSelectedPlayerStrokes(index, player.id)"
                  class="sr-only"
                />
                <div class="flex items-center justify-between gap-0">
                  <Button intent="inline" @click="setSelectedPlayerStrokes(index, player.id, '--')">
                    &minus;
                  </Button>

                  <h2 x-text="getSelectedPlayerStrokes(index, player.id)" class="w-10 text-center">
                  </h2>

                  <Button intent="inline" @click="setSelectedPlayerStrokes(index, player.id, '++')">
                    &plus;
                  </Button>
                </div>
              </template>
            </div>
          </template>
        </div>
      </template>

      <input type="hidden" x-model="team.players" :name="`teams[${index}][players]`" />
    </div>
  </template>
</div>
