---
import Pill from 'src/components/ui/Pill.astro';

interface Props {
  live?: boolean;
  special: boolean;
  eventType: string;
  scoringType: string;
}
const { live, special, eventType, scoringType } = Astro.props;

export const getScoringTypeString = (key: string) => {
  switch (key) {
    case 'strokes':
      return 'SLAG';
    case 'stableford':
      return 'POÄNG';
    case 'modified':
      return 'MODIFIERAD';
    case 'irish':
      return 'IRISH';
    case 'bolle':
      return 'BOLLES SPECIAL';
    default:
      return 'OKÄNT';
  }
};
---

<div class="flex gap-0.5 mb-2">
  {
    special && (
      <Fragment>
        <Pill intent="special">SPECIAL</Pill>
        {eventType === 'team' && <Pill intent="teamEvent">LAG</Pill>}
        {eventType === 'team_w_individual' && <Pill intent="teamEvent">LAG (MED IND.)</Pill>}
      </Fragment>
    )
  }
  <Pill>{getScoringTypeString(scoringType)}</Pill>
  {live && <Pill intent="live">LIVE</Pill>}
</div>
