---
import Pill from 'src/components/ui/Pill.astro';
import type { EventType, ScoringType } from 'src/db/schema/scoring_sessions';

interface Props {
  live?: boolean;
  special: boolean;
  eventType: EventType;
  scoringType: ScoringType;
}
const { live, special, eventType, scoringType } = Astro.props;

export const getScoringTypeString = (key: ScoringType) => {
  switch (key) {
    case 'strokes':
      return 'SLAG';
    case 'stableford':
      return 'POÄNG';
    case 'modified':
      return 'MOD.';
    case 'irish':
      return 'IRISH';
    case 'bolle':
      return 'BOLLES';
    case 'snigel':
      return 'SNIGELS';
    default:
      return 'OKÄNT';
  }
};
---

<div class="flex gap-0.5 mb-2">
  {special && <Pill intent="special">SPECIAL</Pill>}
  {eventType === 'individual' && <Pill intent="default">IND.</Pill>}
  {eventType === 'team' && <Pill intent="teamEvent">LAG</Pill>}
  {eventType === 'team_w_individual' && <Pill intent="teamEvent">BÄSTBOLL</Pill>}

  <Pill>{getScoringTypeString(scoringType)}</Pill>
  {live && <Pill intent="live">LIVE</Pill>}
</div>
