---
import Pill from 'src/components/ui/Pill.astro';

interface Props {
  live?: boolean;
  special: boolean;
  teamEvent: boolean;
  strokes: boolean;
}
const { live, special, teamEvent, strokes } = Astro.props;
---

<div class="flex gap-0.5 mb-2">
  {
    special && (
      <Fragment>
        <Pill intent="special">SPECIAL</Pill>
        {teamEvent && <Pill intent="teamEvent">LAG</Pill>}
      </Fragment>
    )
  }
  <Pill>{strokes ? 'SLAG' : 'POÄNG'}</Pill>
  {live && <Pill intent="live">LIVE</Pill>}
</div>
