---
import { calculateExtraStrokes } from 'src/lib/calculateExtraStrokes';

interface Props {
  holeIndex: number;
  givenStrokes: number;
  holesCount: number;
}

const { holeIndex, givenStrokes, holesCount } = Astro.props;

const length = calculateExtraStrokes(holeIndex, givenStrokes, holesCount);
const dots = Array.from({ length }, (_, i) => i + 1);
---

<div class="flex flex-col stroke-dots bottom-1 right-1">
  {dots.map((dot) => <span class="text-gray-900 dark:text-gray-500 vcr">•</span>)}
</div>
