---
interface Props {
  toPar: number;
  color?: string;
}
const { toPar, color } = Astro.props;
const textColor = color || 'black';
const toParColor = toPar === 0 ? textColor : toPar > 0 ? 'black' : 'red';
---

<span style={{ color: toParColor }} class="text-[16px] vcr">
  {toPar === 0 ? 'E' : toPar > 0 ? `+${toPar}` : toPar}
</span>
