@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-green-500: oklch(0.88 0.2069 155.52);
}

@layer base {
  * {
    touch-action: manipulation;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
  }

  h1,
  h2 {
    font-family: var(--font-vcr);
    text-transform: uppercase;
    font-weight: bold;
  }

  h1 {
    font-size: var(--text-xl);
    letter-spacing: var(--tracking-tight); /* -0.025em */
  }
  h2 {
    font-size: var(--text-lg);
    letter-spacing: var(--tracking-tight); /* -0.025em */
  }

  h3 {
    letter-spacing: var(--tracking-tight); /* -0.025em */
  }

  h3,
  h4,
  h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--text-base);
  }

  .bg-noise-light {
    background-image: url(/images/bgs/noise-light.svg);
  }

  .bg-noise-light-gradient-top {
    background-image:
      linear-gradient(180deg, #fff, transparent 140px), url(/images/bgs/noise-light.svg);
  }

  .bg-noise-light-gradient-bottom {
    background-image:
      linear-gradient(0deg, #fff, transparent 140px), url(/images/bgs/noise-light.svg);
  }
}

.vcr {
  font-family: var(--font-vcr);
}

[x-cloak] {
  display: none !important;
}

body {
  font-family: var(--font-mono);
}

main {
  -webkit-overflow-scrolling: touch;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Chrome, Safari & Opera */
::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

/* Glow effect text */
.active {
  color: #258ac3;
  text-shadow:
    0px 0px 8px rgb(37, 138, 195),
    1px 1px 2px rgb(0, 0, 0, 1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.px-safe-or-4 {
  padding-right: max(env(safe-area-inset-right), 1rem);
  padding-left: max(env(safe-area-inset-left), 1rem);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pt-safe-or-20 {
  padding-top: max(env(safe-area-inset-right), 5rem);
}

.pt-safe-plus-30 {
  padding-top: calc(env(safe-area-inset-right) + 8rem);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.h-screen-safe {
  height: calc(100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom)));
  height: -webkit-fill-available;
}

.inset-safe {
  top: env(safe-area-inset-top);
  right: env(safe-area-inset-right);
  bottom: env(safe-area-inset-bottom);
  left: env(safe-area-inset-left);
}
