---
export const prerender = true;
import 'src/styles/global.css';
import SharedHead from 'src/components/layouts/SharedHead.astro';
import ActiveSessions from 'src/components/homepage/ActiveSessions.astro';
import UserButton from 'src/components/homepage/UserButton.astro';
import ThemeToggle from 'src/components/ui/theme-toggle.astro';
import Button from 'src/components/ui/button.astro';
import Link from 'src/assets/icons/link.svg';
---

<!doctype html>
<html lang="sv">
  <SharedHead title="Tisdagsgolfen" />
  <body class="antialiased dark:bg-gray-900">
    <div class="wrapper">
      <nav class="border-gray-200 bg-gray-200 dark:bg-gray-950">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <h1 class="text-accent-foreground font-bold">Tisdagsgolfen</h1>
          </a>
        </div>
      </nav>

      <main
        id="main"
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <ActiveSessions server:defer>
          <div slot="fallback" class="activessioncard"></div>
        </ActiveSessions>
      </main>

      <footer class="fixed p-1 bottom-1 right-1">
        <div class="flex">
          <ThemeToggle />
          <Button variant="link">
            <a href="/years" class="flex">
              HISTORIK
              <Link class="size-5" />
            </a>
          </Button>
          <UserButton server:defer />
        </div>
      </footer>
    </div>
  </body>
</html>
