---
export const prerender = true;
import 'src/styles/global.css';
import ActiveSessions from 'src/components/homepage/ActiveSessions.astro';
import UserButton from 'src/components/homepage/UserButton.astro';
import Button from 'src/components/ui/button.astro';
import Link from 'src/assets/icons/link.svg';
import HeaderTitle from 'src/components/shared/HeaderTitle.astro';
import AppScreen from 'src/layouts/AppScreen.astro';
import Events from 'src/components/homepage/Events.astro';
import SeasonLeaderboard from 'src/components/homepage/SeasonLeaderboard.astro';

Astro.response.headers.set('Cache-Control', 'public, max-age=300, s-maxage=3600');
---

<AppScreen title="Tisdagsgolfen">
  {
    [1, 2, 7, 8, 11, 12, 13, 'default'].map((img) => (
      <link rel="preload" as="image" href={`/images/avatars/${img}.png`} slot="head" />
    ))
  }

  <UserButton slot="header" server:defer>
    <div
      slot="fallback"
      x-transition
      class="inline-flex items-center justify-center gap-1 animate-pulse"
    >
      <Button size="icon" intent="link" class="size-8">
        <div class="w-full h-full bg-gray-300"></div>
      </Button>
    </div>
  </UserButton>

  <div class="w-full main-section min-h-26 relative p-4">
    <HeaderTitle title="RUNDOR" />
    <div class="flex overflow-x-scroll">
      <div class="flex flex-nowrap h-26 gap-2">
        <ActiveSessions server:defer />
        <Events />
      </div>
    </div>
  </div>
  <div class="w-full main-section p-4">
    <SeasonLeaderboard seasonId={1} />
  </div>

  <Button intent="link" slot="footer-right">
    <a href="/years" class="flex">
      TIDIGARE ÅR
      <Link class="size-5" />
    </a>
  </Button>
</AppScreen>
