---
import 'src/styles/global.css';
import ActiveSessions from 'src/components/homepage/ActiveSessions.astro';
import UserButton from 'src/components/homepage/UserButton.astro';
import Button from 'src/components/ui/button.astro';
import Link from 'src/assets/icons/link.svg';
import StickyHeader from 'src/components/shared/StickyHeader.astro';
import AppScreen from 'src/layouts/AppScreen.astro';
import Events from 'src/components/homepage/Events.astro';
import SeasonLeaderboard from 'src/components/homepage/SeasonLeaderboard.astro';
---

<AppScreen title="Tisdagsgolfen">
  {
    [1, 2, 7, 8, 11, 12, 13, 'default'].map((img) => (
      <link rel="preload" as="image" href={`/images/avatars/${img}.png`} slot="head" />
    ))
  }

  <!-- {
    [
      '2013-hakan.png',
      '2014-daniel.png',
      '2015-patrik.jpg',
      '2016-niklas.jpg',
      '2017-tobbe.jpg',
      '2018-tobbe.jpg',
      '2019-niklas.jpg',
      '2020-tobbe.jpg',
      '2022-khalex.jpg',
      '2024-tobbe.jpg'
    ].map((img) => (
      <link rel="preload" as="image" href={`/images/winnerphotos/${img}`} slot="head" />
    ))
  } -->

  <UserButton slot="header">
    <div
      slot="fallback"
      x-transition
      class="inline-flex items-center justify-center gap-1 animate-pulse"
    >
      <Button size="icon" intent="link" class="size-8">
        <div class="w-full h-full bg-gray-300"></div>
      </Button>
    </div>
  </UserButton>

  <div class="w-full main-section min-h-26 relative">
    <StickyHeader title="RUNDOR" />
    <div class="flex overflow-x-scroll hide-scrollbar">
      <div class="flex flex-nowrap h-26">
        <ActiveSessions />
        <Events />
      </div>
    </div>
  </div>
  <div class="w-full main-section">
    <SeasonLeaderboard seasonId={1} />
  </div>

  <Button intent="link" slot="footer-right">
    <a href="/years" class="flex">
      HISTORIK
      <Link class="size-5" />
    </a>
  </Button>
</AppScreen>
