---
import 'src/styles/global.css';
import UserButton from 'src/components/homepage/UserButton.astro';
import Button from 'src/components/ui/button.astro';
import Link from 'src/assets/icons/link.svg';
import AppScreen from 'src/layouts/AppScreen.astro';
import SeasonLeaderboard from 'src/components/homepage/SeasonLeaderboard.astro';
import FinalLeaderboardButton from 'src/components/homepage/FinalLeaderboardButton.astro';
import EventsCarousel from 'src/components/homepage/EventsCarousel.astro';

Astro.response.headers.set('Cache-Control', 'no-cache, no-store, must-revalidate');
Astro.response.headers.set('Pragma', 'no-cache');
Astro.response.headers.set('Expires', '0');
---

<AppScreen title="Tisdagsgolfen">
  {
    [1, 2, 7, 8, 11, 12, 13, 'default'].map((img) => (
      <link rel="preload" as="image" href={`/images/avatars/${img}.png`} slot="head" />
    ))
  }

  <a
    slot="header"
    href="/stats"
    class="hover:text-cyan-950 text-cyan-700 duration-100 active:scale-97 opacity-50 uppercase"
    >Statistik</a
  >

  <UserButton slot="header">
    <div
      slot="fallback"
      x-transition
      class="inline-flex items-center justify-center gap-1 animate-pulse"
    >
      <Button size="icon" intent="link" class="size-8">
        <div class="w-full h-full bg-gray-300"></div>
      </Button>
    </div>
  </UserButton>

  <FinalLeaderboardButton />
  <EventsCarousel />
  <div class="w-full main-section p-4">
    <SeasonLeaderboard />
  </div>

  <Button intent="link" slot="footer-right">
    <a href="/years" class="flex">
      TIDIGARE ÅR
      <Link class="size-5" />
    </a>
  </Button>
</AppScreen>
