---
import Loader from 'src/assets/images/grid.svg';

import AppScreen from 'src/layouts/AppScreen.astro';
import Button from 'src/components/ui/button.astro';
import Hole from 'src/pages/partials/scoring/[id]/holes/[number].astro';

const { id } = Astro.params;
const userId = await Astro.session?.get('userId');

if (!userId) throw new Error('Logga in för att föra score');
if (!id) throw new Error('Id saknas för runda');
---

<AppScreen hideHeader>
  <Hole />
  <Fragment slot="footer-left">
    <div class="flex gap-2">
      <Button intent="link" size="sm">
        <a href={`/scoring/${id}/menu`}>MENY</a>
      </Button>
      <Button intent="link" size="sm">
        <a href={`/scoring/${id}/leaderboard`}>LEDARTAVLA</a>
      </Button>
      <Loader class="htmx-indicator" width="20" height="20" />
    </div>
  </Fragment>
</AppScreen>

<script src="src/assets/alpine/ScoringController.ts"></script>
