---
import AppScreen from 'src/layouts/AppScreen.astro';
import Loader from 'src/assets/images/grid.svg';
import LiveLeaderboard from 'src/pages/partials/scoring/[id]/live-leaderboard.astro';

const { id } = Astro.params;
const userId = await Astro.session?.get('userId');
if (!id) throw new Error('Id saknas för runda');

let back = '/';
if (userId) {
  const referer = Astro.request.headers?.get('referer');
  back = referer && !referer.includes('leaderboard') ? referer : `/`;
}

// Astro.response.headers.set('HX-Trigger', 'score-updated');
---

<AppScreen title="Ledartavla" back={back}>
  <div
    hx-get={`/partials/scoring/${id}/live-leaderboard`}
    hx-trigger="every 3s"
    hx-swap="innerHTML"
  >
    <LiveLeaderboard />
    <div slot="header">
      <Loader class="htmx-indicator" width="20" height="20" />
    </div>
  </div>
</AppScreen>
