---
import AppScreen from 'src/layouts/AppScreen.astro';

import { getScoringSession } from 'src/db/queries/getScoringSession';
import Button from 'src/components/ui/button.astro';

const { id } = Astro.params;
if (!id) throw new Error('Id saknas för runda');
const scoringSession = await getScoringSession(Number(id));
if (!scoringSession) {
  throw new Error('No such scoring session');
}

const canFinish = scoringSession.scorecards.every(
  (s) => s.through === scoringSession.course.holesCount
);
---

<AppScreen title="Meny" back={`/scoring/${id}`}>
  <div class="flex flex-col gap-4">
    <a href="/"><Button size="block">Gå till startsidan</Button></a>
    <a href={`/scoring/${id}/changesetup`}>
      <Button size="block"> Ändra spelare, och slag </Button>
    </a>
    <Button
      size="block"
      intent="success"
      hx-post={`/scoring/${id}/finish`}
      hx-confirm="Är du säker? Riktigt säker?"
      disabled={!canFinish}
    >
      Markera runda som klar</Button
    >
  </div>
  {
    !canFinish && (
      <div class="p-4 my-4 bg-orange-100 text-yellow-800 border rounded">
        Du har inte fyllt i score för alla spelare och hål!
      </div>
    )
  }
  <div class="mt-20">
    <Button
      size="block"
      intent="destructive"
      hx-delete={`/scoring/${id}`}
      hx-confirm="Är du säker? Riktigt säker?"
    >
      Avbryt (och radera) runda</Button
    >
  </div>
</AppScreen>
