---
export interface Props {
  title?: string;
  back?: string;
  hideHeader?: boolean;
  skipPadding?: boolean;
}

const { title, back, hideHeader = false, skipPadding = false } = Astro.props;
import { cx } from 'cva';
import SharedHead from 'src/components/layouts/SharedHead.astro';
import Button from 'src/components/ui/button.astro';
import 'src/styles/global.css';
---

<!doctype html>
<html lang="sv" class="text-sm sm:text-base">
  <SharedHead title={title}>
    <slot name="head" slot="head" />
  </SharedHead>

  <body class="h-screen w-screen bg-noise-light-gradient-bottom">
    {
      !hideHeader && (
        <div class="flex w-full items-center p-4 backdrop-blur-3xl text-black fixed h-16 overflow-hidden z-50 shadow">
          {back && (
            <a href={back}>
              <Button intent="link" class="p-4 bg-cyan-50/25 mr-4" slot="footer-left">
                {' '}
                &larr;
              </Button>
            </a>
          )}
          <div class="flex justify-between w-full">
            {title && <h1 class="font-bold text-accent-foreground">{title}</h1>}
            <div class="ml-auto">
              <slot name="header" />
            </div>
          </div>
        </div>
      )
    }

    <main
      class={cx(
        'max-w-screen-xl h-full mx-auto pb-20',
        hideHeader ? '' : 'pt-20',
        skipPadding ? '' : 'p-4'
      )}
    >
      <slot />
    </main>

    <footer
      class="flex w-full z-10 fixed bottom-0 left-0 backdrop-blur bg-gray-200 border-gray-200 h-12 p-2"
    >
      <slot name="footer-left" />

      <div class="ml-auto flex gap-1">
        <slot name="footer-right" />
      </div>
    </footer>
  </body>
</html>
