---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import 'src/assets/styles/globals.css';
import SharedHead from 'src/components/layouts/SharedHead.astro';
---

<!doctype html>
<html lang="sv">
  <SharedHead title={title} />
  <body>
    <div class="wrapper">
      <header id="header">
        <div class="container">
          <h1>
            <a href="/">Tisdagsgolfen 2025</a>
          </h1>
          <slot name="header" />
        </div>
      </header>

      <main id="main">
        <div class="container">
          <slot />
        </div>
      </main>

      <footer id="footer">
        <div class="container">
          <slot name="footer" />
        </div>
      </footer>
    </div>
  </body>
</html>
