---
import { cn } from 'src/lib/utils';
import { cva, type VariantProps } from 'class-variance-authority';
import type { HTMLAttributes } from 'astro/types';

const buttonVariants = cva(
  "inline-flex items-center justify-center gap-2 whitespace-nowrap cursor-pointer rounded-sm text-sm font-medium transition-[color,box-shadow, scale] disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] vcr",
  {
    variants: {
      variant: {
        default: 'bg-foreground dark:bg-primary text-accent  font-bold uppercase',
        secondary: 'bg-muted-foreground dark:bg-muted-background text-accent font-bold uppercase',
        link: 'hover:text-muted-foreground dark:hover:text-primary text-foreground'
      },
      size: {
        default: 'h-9 px-4 py-2 has-[>svg]:px-3',
        sm: 'h-8 rounded-md gap-1.5 px-3 has-[>svg]:px-2.5',
        lg: 'h-10 rounded-md px-6 has-[>svg]:px-4',
        icon: 'size-9'
      }
    },
    defaultVariants: {
      variant: 'default',
      size: 'default'
    }
  }
);

interface Props extends HTMLAttributes<'button'>, VariantProps<typeof buttonVariants> {}

const { class: className, variant, size, type = 'button', ...props } = Astro.props;
---

<button type={type} class={cn(buttonVariants({ variant, size }), className)} {...props}>
  <slot />
</button>
