---
import { cx, cva } from 'src/components/cva.config';
import { type VariantProps } from 'cva';
import type { HTMLAttributes } from 'astro/types';

const pillVariants = cva({
  base: 'text-xs whitespace-nowrap text-uppercase pt-1 h-6 px-1 border-1 subpixel-antialiased tracking-tighter rounded-xs shadow-lg inline-flex scale-95',
  variants: {
    intent: {
      default: 'bg-cyan-100 text-cyan-700',
      live: 'bg-red-100 text-red-700 animate-pulse',
      final: 'bg-orange-100 text-orange-700',
      teamEvent: 'bg-emerald-100 text-emerald-700',
      special: 'bg-amber-100 text-amber-700',
      guest: 'bg-gray-50 text-gray-500'
    }
  },
  defaultVariants: {
    intent: 'default'
  }
});

interface Props extends HTMLAttributes<'span'>, VariantProps<typeof pillVariants> {}

const { class: className, intent, ...props } = Astro.props;
---

<span class={cx(pillVariants({ intent }), className)} {...props}>
  <span class="text-light font-mono text-xs uppercase">
    <slot />
  </span>
</span>
