---
import { cx, cva } from 'src/components/cva.config';
import { type VariantProps } from 'cva';
import type { HTMLAttributes } from 'astro/types';

const pillVariants = cva({
  base: 'rounded-sm text-xs whitespace-nowrap text-uppercase px-1.5 py-0.25 border-1 subpixel-antialiased tracking-tighter',
  variants: {
    intent: {
      default: 'bg-purple-100 text-purple-700 dark:bg-purple-700 dark:text-purple-100',
      live: 'bg-red-100 text-red-700 dark:bg-red-700 dark:text-red-100 animate-pulse',
      teamEvent: 'bg-emerald-100 text-emerald-700 dark:bg-emerald-700 dark:text-emerald-100',
      special: 'bg-amber-100 text-amber-700 dark:bg-amber-700 dark:text-amber-100'
    }
  },
  defaultVariants: {
    intent: 'default'
  }
});

interface Props extends HTMLAttributes<'span'>, VariantProps<typeof pillVariants> {}

const { class: className, intent, ...props } = Astro.props;
---

<span class={cx(pillVariants({ intent }), className)} {...props}>
  <slot />
</span>
