---
import Moon from 'src/assets/icons/moon.svg';
import Sun from 'src/assets/icons/sun.svg';
---

<div data-theme-toggle class="mr-6 mt-2 relative">
  <Sun
    name="sun"
    class="absolute size-5 scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90"
  />
  <Moon
    name="moon"
    class="absolute size-5 scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0"
  />
  <span class="sr-only">Toggle theme</span>
</div>

<script>
  import { THEME_MAP, themeStore } from 'src/lib/theme';
  const button = document.querySelector('[data-theme-toggle]');
  button?.addEventListener('click', () =>
    themeStore.set(themeStore.get() === THEME_MAP.dark ? THEME_MAP.light : THEME_MAP.dark)
  );
</script>
